<!-- Footer -->
<footer class="page-footer font-small bg-dark text-light m-0 py-3">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-9 mt-md-0 mt-3">
        <!-- Content -->
        <h4 class="text-uppercase">
          <span class="text-info">Library Management</span>
        </h4>
        <p>Library Management is a Digital Library Platform.</p>
      </div>
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <span>© 2021 Copyright: Library Management</span>
    <br />
    <span> Designed By</span>
    <a
      href="https://github.com/Saurabhrkp"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="text-info">Saurabh Patel</span>
    </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
