<!-- Footer -->
<footer class="page-footer font-small bg-dark text-light m-0 py-4">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-4">
    <span>© 2021 Copyright: Library Management</span>
    <br />
    <span> Designed By</span>
    <a
      href="https://github.com/Saurabhrkp"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="text-info">Saurabh Patel</span>
    </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
