<%- include('../components/navbar') %>
<div class="container-fluid justify-content-center align-content-center">
  <% if( typeof users !== 'undefined') { %> <%- include('./list-user') %> <% }
  else { %> <%- include('./list-book') %> <% } %>
</div>
<%- include('../components/footer') %>
